* {
  box-sizing: border-box; }

body {
  background-color: whitesmoke; }

.flex-container {
  display: flex;
  background: #C7B0A9;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px);
  line-height: 3vh;
  padding: 20px;
  margin: 50px 100px 50px;
  border: 1px solid #211D1C;
  font-family: "Times New Roman", Times, serif; }

.flex-container h1 {
  padding-bottom: 20px;
  text-align: center; }
