.navbar {
  display: flex;
  background-color: #C7B0A9;
  opacity: 50%; }
  .navbar a {
    color: #211D1C;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    opacity: 100%; }
  .navbar a:hover {
    background-color: #D2CED1;
    color: black; }
