/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #C7B0A9;
    opacity: 50%;

    /* Style the navigation bar links */
    a {
        color: #211D1C;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        opacity: 100%;
    }

    /* Change color on hover */
    a:hover {
        background-color: #D2CED1;
        color: black;
    }
}