@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Sans+Narrow&display=swap');

* {
box-sizing: border-box;
}

body {
    margin: 0;
    background: url("../images/cat-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heading{
    margin-left: 100px;
    margin-top: 340px;
    font-size: 40px; 
    line-height: 26.4px;

    h1{
        font-family: 'Dancing Script', cursive;
        color: #353B3C;
    }

    p{
        font-family: 'PT Sans Narrow', sans-serif;
        color: #748E54
    }
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    margin-left: 100px;
    overflow: visible;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;

    .flex-item {
        padding: 15px;
        margin-right: 20px;
        line-height: 20px;
        font-size: 50px;
        background: #C7B0A9; 
        text-align: center;
        border: 1px solid #211D1C;
        position: relative;
  
    a, span {
        color: white;
        font-weight: bold;
        font-size: 0.5em;
        text-decoration: none;
    }

    .dropdown-cont {
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 15px;
        background: #c7b0a9;
        border: 1px solid #211D1C;

        &.hidden {
          visibility: hidden;
      }
    }
  }
}

.home-menu {
    font-size: 40px;
}

@media screen and (max-width: 700px) {
    .body, .navbar, .footer {   
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
    .heading {
        margin: 0;
        text-align: center;

      p {
          line-height: 40px;
      }
  }

    .flex-container {
        margin: 0;
        justify-content: center;
    }
}